target/
.mvn/wrapper/maven-wrapper.jar
.apt_generated/
.classpath
.project
.settings/
.idea/
*.iml
.DS_Store
.env
node_modules/
frontend/generated/
src/main/frontend/generated/
src/main/frontend/index.html
